@font-face {
  font-family: CIND;
  src: url(fonts/CIND.otf);

  
}
@font-face {
  font-family: NovaMono;
  src: url(fonts/novamono.ttf);
}

* {
  font-family: CIND, Arial;
}


.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

body{
  -webkit-animation: fadeIn .25s ease-in;
  animation: fadeIn .25s ease-in;
    overflow: hidden;
}

.dynamic_background_colour{
  position: absolute;
  width: 1200px;
  height: 800px;
  background: #686D76;
  border-radius: 7px;
}

.dynamic_background_colour-dark{
  position: absolute;
  width: 1200px;
  height: 800px;
  background: #373A40;
  border-radius: 7px;
}

.dynamic_other_colour{
  width: 1100px;
  height: 700px;
  background-position: center center;
  background: #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  position: absolute;
  margin-top: 45px;
  margin-left: 45px;
}

.dynamic_other_colour-dark{
  width: 1100px;
  height: 700px;
  background-position: center center;
  background: #686D76;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  position: absolute;
  margin-top: 45px;
  margin-left: 45px;
}

.dynamic_status_information{
  position: fixed;
  width: 180px;
  height: 630px;
  top: 85px;
  left: 75px;
  font-family: NovaMono;
  background: #EEEEEE;
  border: 1px solid #373A40;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding-left: 8px;
  padding-top: 10px;
}

.dynamic_status_information-dark{
  position: absolute;
  width: 180px;
  height: 630px;
  top: 85px;
  left: 75px;
  background: #686D76;
  border: 1px solid #373A40;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding-left: 8px;
  padding-top: 10px;
}


#text-death{
  margin-top: 35px;
  margin-left: 0px;
  text-align: center;
  font-family: CIND,;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 110px;
  color: black;
}
.buttons-page{
  position: relative;
  max-width: 199px;
  max-height: 49px;
  top: 250px;
  padding: 13px 13px;
  font-family: CIND, Arial;
  font-size: 18px;
  margin-left: 520px;
  margin-bottom: 25px;
  border: 1px solid black;
  text-align: center;
  background: #19D3DA;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 7px;
  text-decoration: none;
  color: black;
  display: block;
}
#text-settings{
  margin-top: 35px;
  margin-left: 430px;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 110px;
  color: black;
}
#music-text{
  margin-top: 220px;
  margin-left: 55px;
  position: absolute;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: black;
}

.container {
  position: absolute;
  margin-top: 223px;
  left: 88%;
  transform: translate(-60%,0%);
  text-align: center;
}


.switch{
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
  margin: 0 10px;
}

.range{
position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid black;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEE;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid black;
}


.switch input {display: none}

.slider:before{
  position: absolute;
  content: "";
  height: 20px;
  width: 21px;
  left: 1px;
  bottom: 1px;
  background-color: #373A40;
  transition: 0.4s;
  border-radius: 50px;
  }

input:checked + .slider
{
  background-color: #19D3DA;
}
input:checked + .slider:before
{
  transform: translate(20px);
}
.back-button{

  width: 45px;
  height: 45px;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


#xbox-controller{
  width: 345px;
  height: 232px;
  position: fixed;
  top: 450px;
  left: 75px;
}
#backup-camera{
  width: 830px;
  height: 630px;
  left: 285px;
  top: 85px;
  position: fixed;
}


.dark-mode-switch{
  position: relative;
  z-index: 1000;
  max-width: 0px;
  top: 230px;
  margin-left: 968px;
  padding: 11px 21px;
  border-radius: 7px;
  display: block;
}

.bg {
  animation:slide 4s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #EEEEEE 50%, #373A40 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:5s;
}

.bg3 {
  animation-duration:6s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.the_croc{
    Top: -5px;
    Left: -590px;
    position: relative;
    width: 10px;
    height: 7px;
}

#app-name{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 250px;
  text-align: center;
}


form input {
  appearance: none;
  outline: 0;
  border: 1px solid #ffffff;
  background-color:#ffffff;
  width: 400px;
  border-radius: 3px;
  padding: 10px 15px;
  position: relative;
  top: -20px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: #ffffff;
}
form input:focus {
  background-color: white;
  width: 400px;
  color: black;
}
form button {
  appearance: none;
  outline: 0;
  background-color: #19D3DA;
  border: 0;
  padding: 10px 15px;
  position: relative;
  top: -20px;
  left: 378px;
  color: black;
  border-radius: 3px;
  width: 433px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #19D3DA;
}